.comparison-main {
    /* display: grid;
    place-items: center; */
    height: 100%;
    width: 100%;
}
.comparison-container {
     /* display: grid; 
     place-content: center;  */
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    --position: 50%;
}

.comparison-image-container {
    max-width: 800px;
    max-height: 90vh;
    height: 100%;
    /* / aspect-ratio: 1/1; / */
}

.comparison-slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.comparison-image-before {
    position: absolute;
    inset: 0;
    width: var(--position);
    /* filter: grayscale(100%) */
}

.comparison-slider {
    position: absolute;
    inset: 0;
    cursor: pointer;
    opacity: 0;
    /* / for Firefox / */
    width: 100%;
    height: 100%;
}

.comparison-slider:focus-visible~.comparison-slider-button {
    outline: 5px solid black;
    outline-offset: 3px;
}

.comparison-slider-line {
    position: absolute;
    inset: 0;
    width: .2rem;
    height: 100%;
    background-color: #fff;
    /* / z-index: 10; / */
    left: var(--position);
    transform: translateX(-50%);
    pointer-events: none;
}

.comparison-slider-button {
    position: absolute;
    background-color: #fff;
    color: black;
    padding: .5rem;
    border-radius: 100vw;
    display: grid;
    place-items: center;
    top: 50%;
    left: var(--position);
    transform: translate(-50%, -50%);
    pointer-events: none;
    /* / z-index: 100; / */
    box-shadow: 1px 1px 1px hsl(0, 50%, 2%, .5);
}

