@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --h1-desk: 3rem;
    --h1-mob: 2.5rem;
    --h2-desk: 2.1rem;
    --h2-mob: 2rem;
    --h3-desk: 1.8rem;
    --h3-mob: 1.8rem;
    --h4-desk: 1.8rem;
    --h4-mob: 1.5rem;
    --h5-desk: 1.5rem;
    --h5-mob: 1.3rem;
    --h6-desk: 1rem;
    --h6-mob: 1rem;
    --heading-font-weight: 600;
    --heading-font: 'Poppins', sans-serif;
    --para-font: 'Work Sans', sans-serif;
    --light-blue: #00708e;
    --dark-blue: #115278;
    --light-green: #32cfc8;
    --dark-green: #1ebdb6;
    --grey: #e6e8e9;
    --black: #000;
    --white: #fff;
    --gradient: linear-gradient(90deg, #115278 51%, #1ebeb6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    font-family: var(--para-font);
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.text-dark-blue {
    color: var(--dark-blue) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--heading-font-weight) !important;
    font-family: var(--heading-font) !important;
    line-height: 1.2 !important;
}

h1 {
    font-size: var(--h1-desk) !important;
}

h2 {
    font-size: var(--h2-desk) !important;
}

h3 {
    font-size: var(--h3-desk) !important;
}

h4 {
    font-size: var(--h4-desk) !important;
}

h5 {
    font-size: var(--h5-desk) !important;
}

h6 {
    font-size: var(--h6-desk) !important;
}

p,
p.para {
    margin-bottom: 1rem !important;
}

p,
p.para,
li {
    font-family: var(--para-font) !important;
    font-size: 1rem !important;
}

a {
    text-decoration: none !important;
    color: var(--dark-blue) !important;
}

a:hover {
    color: #000 !important;
}

ul {
    list-style-type: none !important;
}

.bg-grey {
    background-color: var(--grey) !important;
}

.he-widget-container .he-row {
    display: flex !important;
}

.he-row h2 {
    font-size: 1.1rem !important;
    text-transform: capitalize;
}

.nav-item .nav-link,
.nav-link {
    font-family: var(--heading-font) !important;
    font-weight: var(--heading-font-weight) !important;
}

li.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

footer {
    background-color: var(--dark-green) !important;
}

footer .footer-sec-head {
    font-family: var(--heading-font) !important;
    font-weight: var(--heading-font-weight) !important;
    font-size: 1.5rem !important;
    color: var(--dark-blue);
}

footer .nav-link {
    color: #fff !important;
    font-family: var(--para-font) !important;
    font-weight: 400 !important;
    font-size: 1.1rem !important;
}

footer .nav-link:hover,
footer a:hover {
    color: var(--dark-blue) !important;
}

.grow {
    transition: all 2s ease !important;
    -webkit-transition: all 2s ease !important;
    -moz-transition: all 2s ease !important;
    -ms-transition: all 2s ease !important;
    -o-transition: all 2s ease !important;
}

.grow:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.MuiListItemText-secondary {
    margin-bottom: 0 !important;
}

.blueFilledBtn {
    padding: 0.5rem 1rem !important;
    background-color: var(--dark-blue) !important;
    border: 2px solid var(--dark-blue) !important;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#service .css-o69gx8-MuiCardMedia-root {
    width: auto !important;
}

.square-right {
    border: 10px solid rgba(128, 128, 128, 0.171);
    border-right: none;
    border-radius: 1.2rem 0 0 1.2rem;
    -webkit-border-radius: 1.2rem 0 0 1.2rem;
    -moz-border-radius: 1.2rem 0 0 1.2rem;
    -ms-border-radius: 1.2rem 0 0 1.2rem;
    -o-border-radius: 1.2rem 0 0 1.2rem;
}

.square-left {
    border: 10px solid rgba(128, 128, 128, 0.171);
    border-left: none;
    border-radius: 0 1.2rem  1.2rem 0;
    -webkit-border-radius: 0 1.2rem  1.2rem 0;
    -moz-border-radius: 0 1.2rem  1.2rem 0;
    -ms-border-radius: 0 1.2rem  1.2rem 0;
    -o-border-radius: 0 1.2rem  1.2rem 0;
}

.form-group{
    margin-bottom: 1rem;
}

.clipPathBgGreyUp{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.clipPathBgGreyDown{
    clip-path: polygon(0 0, 75% 1%, 100% 100%, 25% 100%);
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: var(--h1-mob) !important;
    }

    h2 {
        font-size: var(--h2-mob) !important;
    }

    h3 {
        font-size: var(--h3-mob) !important;
    }

    h4 {
        font-size: var(--h4-mob) !important;
    }

    h5 {
        font-size: var(--h5-mob) !important;
    }

    h6 {
        font-size: var(--h6-mob) !important;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 2;
        left: 0%;
        background-color: transparent;
        border: none;
        outline: none;
    }

    .bottomCurve {
        margin-top: -4.2% !important;
    }

    .square-right {
        border: 5px solid rgba(128, 128, 128, 0.171);
    }

    .square-left {
        border: 5px solid rgba(128, 128, 128, 0.171);
    }

    .clipPathBgGreyUp{
        clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    }
    
    .clipPathBgGreyDown{
        clip-path: polygon(0 0, 95% 1%, 100% 100%, 5% 100%);
    }
}

.deskNavbarBrandMenu img {
    min-width: 70% !important;
    min-height: 70% !important;
}

.MuiListItem-root {
    align-items: flex-start !important;
}

.MuiListItem-root .MuiListItemIcon-root {
    min-width: 2rem !important;
}

.MuiListItem-root .MuiListItemText-root {
    margin: 0 !important;
}

.MuiListItem-root .MuiListItemText-root span {
    font-family: var(--para-font) !important;
    font-size: 1rem !important;
}

.font-weight-bold .MuiTypography-root {
    color: #000;
    font-weight: 700 !important;
    font-size: 1.5rem !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: none !important;
}

@media only screen and (max-width: 1199px) {
    header {
        background-color: #fff;
    }

    .nav-menu {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        overflow-y: scroll;
    }

    .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        padding: 0.5rem 1rem;
    }

    .nav-menu.active .navbar-nav {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        overflow: hidden;
    }

    .nav-menu.active .menu-icon {
        color: #fff !important;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 2;
        left: 0%;
        background-color: transparent;
        border: none;
        outline: none;
    }

}

#home_hero .slide {
    height: 105vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.offerPageOfferCard{
    height: 36.5rem;
}

.offerPageOfferCard .manageHeight{height: 13rem;}


@media only screen and (max-width: 600px){
    .offerPageOfferCard, .offerPageOfferCard .manageHeight{
        height: auto;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .nav-item .nav-link {
        font-size: 0.8rem;
    }

    .offerPageOfferCard{
        height: 37.5rem;
    }

    .offerPageOfferCard .manageHeight{height: 18rem;}
}

@media only screen and (min-width: 1301px) and (max-width: 1500px){
    .offerPageOfferCard .manageHeight{height: 14.5rem;}
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .bottomCurve {
        margin-top: -1.2% !important;
    }

    .offerPageOfferCard .manageHeight{height: 16rem;}
}

.MuiBox-root.css-178yklu li {
    list-style: disc !important;
}

.tWCard{
    height: 41.2rem;
}

.tab{
    cursor: pointer;
}

.bg--blue, .bg--blue:hover{
    background-color: var(--dark-blue);
    color: #fff;
}


@media only screen and (max-width: 600px){
    .tWCard{
        height: auto;
    }
}